

.excluir{
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
	
}
.salvar:hover,.novo:hover,.excluir:hover{
	-fx-background-color:grey;
}

.telaLogin{
 -fx-background-image: url("");
   -fx-background-size: cover;
   


}